.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_menu{
    display: none;
}
.hamBurgar{
    font-size: 30px;   
}

@media (max-width: 900px) {
    .nav_bar h1{
        font-size: 25px;
    }
    .nav_btn{
        display: none;
    }
    .nav_menu{
        display: flex;
    }
}