.newCollectionCon .newCollectionCtrl .ctrlBtn button{
    border: 2px solid gray;
    color: black;
    padding: 3px 5px;
}

.newCollectionCon .newCollectionCtrl div:nth-child(1) button{
    background-color: #bdbdbd;
    color: black;
    border-radius: 0;
}